<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>reset_password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input [(ngModel)]="code" type="text" placeholder="Código"></ion-input>
  <ion-input [(ngModel)]="password" type="password" placeholder="Nueva contraseña"></ion-input>
  <ion-input [(ngModel)]="passwordConfirmation" type="password" placeholder="Confirmar contraseña"></ion-input>
  
  <ion-button (click)="resetPassword()" shape="round">
    Cambiar contraseña
  </ion-button>
</ion-content>
